<gtx-overlay-host></gtx-overlay-host>
<div class="header">
    <h1>Gentics UI Image Editor</h1>
    <p>
        An Angular module for cropping, resizing and setting the focal point of images.
        <a href="https://github.com/gentics/gentics-ui-image-editor">Source & docs on GitHub</a>
    </p>
</div>
<div class="editor-container">
    <gentics-ui-image-editor [src]="sourceUrl"
                             [disableAspectRatios]="disableAspectRatios"
                             [customAspectRatios]="customAspectRatios"
                             [canCrop]="canCrop"
                             [canResize]="canResize"
                             [canSetFocalPoint]="canSetFocalPoint"
                             [language]="language"
                             (editing)="isEditing = $event"
                             [(transform)]="transformParams"></gentics-ui-image-editor>
</div>

<div class="inputs-outputs">
    <div class="input-options">
        <h3>Component Inputs:</h3>
        <div class="inputs-row">
            <div gtx-radio-group [(ngModel)]="language">
                <gtx-radio-button value="en" label="English"></gtx-radio-button>
                <gtx-radio-button value="de" label="Deutsch"></gtx-radio-button>
            </div>

            <div gtx-radio-group [(ngModel)]="sourceImage">
                <gtx-radio-button value="test-image.png" label="test-image.png" (change)="transformParams = {}"></gtx-radio-button>
                <gtx-radio-button value="portrait.jpg" label="portrait.jpg" (change)="transformParams = {}"></gtx-radio-button>
                <gtx-radio-button value="landscape.jpg" label="landscape.jpg" (change)="transformParams = {}"></gtx-radio-button>
            </div>

            <!-- @TODO: Needs extending devServer -->
            <!--<gtx-checkbox *ngIf="!prodMode" [(ngModel)]="slowConnection" label="Simulate slow connection"></gtx-checkbox>!-->
        </div>
        <div class="inputs-row">
            <gtx-checkbox [(ngModel)]="canCrop" label="canCrop"></gtx-checkbox>
            <gtx-checkbox [(ngModel)]="canResize" label="canResize"></gtx-checkbox>
            <gtx-checkbox [(ngModel)]="canSetFocalPoint" label="canSetFocalPoint"></gtx-checkbox>
        </div>
        <h3>Crop Aspect Ratio settings:</h3>
        <div class="inputs-row">
            <gtx-checkbox [(ngModel)]="disableOriginal" label="Disable Original" (change)="updateAspectRatios()"></gtx-checkbox>
            <gtx-checkbox [(ngModel)]="disableSquare" label="Disable Square" (change)="updateAspectRatios()"></gtx-checkbox>
            <gtx-checkbox [(ngModel)]="disableFree" label="Disable Free" (change)="updateAspectRatios()"></gtx-checkbox>
            <gtx-checkbox [(ngModel)]="custom169" label="Add 16:9" (change)="updateAspectRatios()"></gtx-checkbox>
            <gtx-checkbox [(ngModel)]="custom32" label="Add 3:2" (change)="updateAspectRatios()"></gtx-checkbox>
        </div>

    </div>
    <div class="output">
        <h3>Outputs:</h3>
        <code>editing: {{ isEditing }}</code>
        <gtx-textarea [value]="transformParams | json" (change)="parseParams($event)" label="transform"></gtx-textarea>
    </div>
</div>

<div class="image-preview">
    <h3>Image preview:</h3>
    <gentics-ui-image-preview [src]="sourceUrl" [transform]="transformParams" [maxHeight]="300"></gentics-ui-image-preview>
</div>