@import "../../../node_modules/cropperjs/dist/cropper.css";
@import "../../../node_modules/gentics-ui-core/dist/styles/variables";

gentics-image-editor {
  border: 3px dotted pink;
  display: flex;
  flex-direction: column;
  background-color: white;

  .image-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAACuoAAArqAVDM774AAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTZEaa/1AAAAK0lEQVQ4T2P4jwP8xgFGNSADqDwGIF0DlMYAUH0YYFQDMoDKYwASNfz/DwB/JvcficphowAAAABJRU5ErkJggg==');
  }

  .crop-area {
    overflow: hidden;
    &.hidden {
      height: 0;
      visibility: hidden;
    }
  }

  img.source-image {
    max-width: 100%;
  }

  .control-panel {
    position: relative;
  }

  .image-preview {
    overflow: hidden;
    margin: auto;

    img {
      display: block;
      min-width: 0 !important;
      min-height: 0 !important;
      max-width: none !important;
      max-height: none !important;
      margin: auto;
    }
  }

  gentics-image-preview {
    &.hidden {
      opacity: 0;
    }
    opacity: 1;
    transition: opacity 0.5s;
  }

  .mode-selector {
    padding: 10px;
  }

  .range-container {
    display: flex;
    align-items: center;
    margin: 5px 10px;
    gtx-range {
      flex: 1;
    }

    icon {
      margin: 20px;
      color: $gtx-color-light-gray;
      font-size: 32px;
    }
  }
}

