<div class="image-area" [style.height.px]="imageAreaHeight">

    <gentics-image-cropper [class.hidden]="mode !== 'crop'"
                           [class.loading]="imageIsLoading"
                           [src]="src"
                           [enabled]="mode === 'crop'"
                           [aspectRatio]="cropAspectRatio"
                           (imageLoad)="imageIsLoading = false"></gentics-image-cropper>

    <gentics-image-preview [class.hidden]="mode === 'crop'"
                           [class.loading]="imageIsLoading"
                           [scaleX]="resizeScale"
                           [scaleY]="resizeScale"
                           [cropperData]="cropperData"
                           [src]="src"
                           [maxHeight]="imageAreaHeight"
                           (imageLoad)="imageIsLoading = false"></gentics-image-preview>

    <gentics-focal-point-selector [enabled]="mode === 'focalPoint'"
                                  [focalPointX]="focalPointX"
                                  [focalPointY]="focalPointY"
                                  (focalPointSelect)="focalPointSelected($event)"></gentics-focal-point-selector>

</div>

<div class="control-panel" #controlPanel>
    <gtx-progress-bar [active]="imageIsLoading"></gtx-progress-bar>
    <div class="controls">
        <div class="mode-selector">
            <gtx-button icon size="large"
                        type="secondary"
                        (click)="setMode('crop')"
                        [class.hidden]="mode !== 'preview' && mode !== 'crop'">
                <icon>crop</icon>
            </gtx-button>
            <gtx-button icon size="large"
                        type="secondary"
                        (click)="setMode('resize')"
                        [class.hidden]="mode !== 'preview' && mode !== 'resize'">
                <icon>photo_size_select_large</icon>
            </gtx-button>
            <gtx-button icon size="large"
                        type="secondary"
                        (click)="setMode('focalPoint')"
                        [class.hidden]="mode !== 'preview' && mode !== 'focalPoint'">
                <icon>filter_center_focus</icon>
            </gtx-button>
        </div>

        <gentics-control-panel *ngIf="mode === 'crop'"
                               applyLabel="Crop"
                               [displayResetButton]="!(cropperService.cropBoxMatchesImage$ | async)"
                               (reset)="resetCrop()"
                               (apply)="applyCrop()"
                               (cancel)="cancelCrop()">
            <div gtx-radio-group [(ngModel)]="cropAspectRatio" class="aspect-ratio-controls">
                <div class="aspect-ratio-label">Aspect ratio:</div>
                <gtx-radio-button value="original" label="Original"></gtx-radio-button>
                <gtx-radio-button value="square" label="Square"></gtx-radio-button>
                <gtx-radio-button value="free" label="Free"></gtx-radio-button>
            </div>
        </gentics-control-panel>

        <gentics-control-panel *ngIf="mode === 'resize'"
                               applyLabel="Resize"
                               [displayResetButton]="resizeScale !== 1"
                               (reset)="resetScale()"
                               (apply)="applyResize()"
                               (cancel)="cancelResize()">
            <div class="resize-controls">
                <div class="resize-factor">{{ resizeScale | number:'1.3-3' }}x</div>
                <div class="range-container">
                    <icon>photo_size_select_small</icon>
                    <gtx-range [min]="resizeMin$ | async"
                               [max]="resizeMax$ | async"
                               [thumbLabel]="false"
                               [(ngModel)]="resizeRangeValue"
                               (change)="previewResize($event)"></gtx-range>
                    <icon>photo_size_select_actual</icon>
                </div>
            </div>
        </gentics-control-panel>

        <gentics-control-panel *ngIf="mode === 'focalPoint'"
                               applyLabel="Set Focal Point"
                               [displayResetButton]="focalPointX !== 0.5 || focalPointY !== 0.5"
                               (reset)="resetFocalPoint()"
                               (apply)="applyFocalPoint()"
                               (cancel)="cancelFocalPoint()">
        </gentics-control-panel>
    </div>

</div>
