<div class="image-area" [style.height.px]="imageAreaHeight" [style.minHeight.px]="imageAreaHeight">

    <gentics-image-cropper *ngIf="canCrop"
                           [class.hidden]="mode !== 'crop'"
                           [class.loading]="imageIsLoading"
                           [src]="src"
                           [enabled]="mode === 'crop'"
                           [aspectRatio]="cropAspectRatio"
                           (imageLoad)="imageIsLoading = false"></gentics-image-cropper>

    <gentics-image-preview [class.hidden]="mode === 'crop'"
                           [class.loading]="imageIsLoading"
                           [scaleX]="resizeScaleX"
                           [scaleY]="resizeScaleY"
                           [cropperData]="cropperData"
                           [src]="src"
                           [maxHeight]="imageAreaHeight"
                           (imageLoad)="onImageLoad()"></gentics-image-preview>

    <gentics-focal-point-selector *ngIf="canSetFocalPoint"
                                  [class.hidden]="mode === 'crop'"
                                  [enabled]="mode === 'focalPoint'"
                                  [focalPointX]="focalPointX"
                                  [focalPointY]="focalPointY"
                                  (focalPointSelect)="focalPointSelected($event)"></gentics-focal-point-selector>

</div>

<div class="control-panel">
    <gtx-progress-bar [active]="imageIsLoading"></gtx-progress-bar>
    <div class="controls">
        <div class="mode-selector" [class.preview]="mode === 'preview'">
            <div *ngIf="canCrop"
                 class="mode-button"
                 [class.hidden]="mode !== 'preview' && mode !== 'crop'">
                <gtx-button icon size="large"
                            type="secondary"
                            (click)="setMode('crop')"
                            [title]="'crop' | translate">
                    <icon>crop</icon>
                </gtx-button>
                <div class="button-label">{{ 'crop' | translate }}</div>
            </div>
            <div *ngIf="canResize"
                 class="mode-button"
                 [class.hidden]="mode !== 'preview' && mode !== 'resize'">
                <gtx-button icon size="large"
                            type="secondary"
                            (click)="setMode('resize')"
                            [title]="'resize' | translate">
                    <icon>photo_size_select_large</icon>
                </gtx-button>
                <div class="button-label">{{ 'resize' | translate }}</div>
            </div>
            <div *ngIf="canSetFocalPoint"
                 class="mode-button"
                 [class.hidden]="mode !== 'preview' && mode !== 'focalPoint'">
                <gtx-button icon size="large"
                            type="secondary"
                            (click)="setMode('focalPoint')"
                            [title]="'set_focal_point' | translate">
                    <icon>filter_center_focus</icon>
                </gtx-button>
                <div class="button-label">{{ 'focal_point' | translate }}</div>
            </div>
        </div>

        <gentics-control-panel *ngIf="mode === 'crop'"
                               [applyLabel]="'crop' | translate"
                               [displayResetButton]="!(cropperService.cropBoxMatchesImage$ | async)"
                               (reset)="resetCrop()"
                               (apply)="applyCrop()"
                               (cancel)="cancelCrop()">
            <div gtx-radio-group [(ngModel)]="cropAspectRatio" class="aspect-ratio-controls">
                <div class="aspect-ratio-label">{{ 'aspect_ratio' | translate }}</div>
                <gtx-radio-button value="original" [label]="'aspect_ratio_original' | translate"></gtx-radio-button>
                <gtx-radio-button value="square" [label]="'aspect_ratio_square' | translate"></gtx-radio-button>
                <gtx-radio-button value="free" [label]="'aspect_ratio_free' | translate"></gtx-radio-button>
            </div>
        </gentics-control-panel>

        <gentics-control-panel *ngIf="mode === 'resize'"
                               [applyLabel]="'resize' | translate"
                               [displayResetButton]="resizeScaleX !== 1 || resizeScaleY !== 1"
                               (reset)="resetScale()"
                               (apply)="applyResize()"
                               (cancel)="cancelResize()">
            <div class="resize-controls" [class.ratio-locked]="scaleRatioLocked">
                <div class="resize-factor">
                    <span class="scale-x">{{ resizeScaleX | number:'1.3-3' }}x</span>
                    <span class="scale-y">{{ resizeScaleY | number:'1.3-3' }}x</span>
                    <gtx-button icon
                                type="secondary"
                                (click)="toggleScaleRatioLock()"
                                [class.visible]="scaleRatioLocked"
                                size="small">
                        <icon *ngIf="scaleRatioLocked" [title]="'ratio_locked' | translate">lock</icon>
                        <icon *ngIf="!scaleRatioLocked" [title]="'ratio_unlocked' | translate">lock_open</icon>
                    </gtx-button>
                </div>
                <div class="range-container">
                    <icon>photo_size_select_small</icon>
                    <div class="range-controls">
                        <gtx-range [min]="resizeService.minWidth$ | async"
                                   [max]="resizeService.maxWidth$ | async"
                                   class="x"
                                   [thumbLabel]="false"
                                   [(ngModel)]="resizeRangeValueX"
                                   (change)="previewResizeWidth($event)"></gtx-range>
                        <gtx-range [min]="resizeService.minHeight$ | async"
                                   [max]="resizeService.maxHeight$ | async"
                                   [thumbLabel]="false"
                                   class="y"
                                   [disabled]="scaleRatioLocked"
                                   [(ngModel)]="resizeRangeValueY"
                                   (change)="previewResizeHeight($event)"></gtx-range>
                    </div>
                    <icon>photo_size_select_actual</icon>
                </div>
            </div>
        </gentics-control-panel>

        <gentics-control-panel *ngIf="mode === 'focalPoint'"
                               [applyLabel]="'set_focal_point' | translate"
                               [displayResetButton]="focalPointX !== 0.5 || focalPointY !== 0.5"
                               (reset)="resetFocalPoint()"
                               (apply)="applyFocalPoint()"
                               (cancel)="cancelFocalPoint()">
        </gentics-control-panel>
    </div>

</div>
