<div class="crop-area" [class.hidden]="mode !== 'crop'">
    <img #sourceImage [src]="src" class="source-image">
</div>

<gentics-image-preview [class.hidden]="mode === 'crop'"
                       [cropper]="cropper"
                       [src]="src"
                       [width]="previewWidth"
                       [height]="previewHeight"></gentics-image-preview>

<div class="control-panel">
    <div class="mode-selector">
        <gtx-button icon size="large" (click)="setMode('crop')" [disabled]="mode !== 'preview' && mode !== 'crop'">
            <icon>crop</icon>
        </gtx-button>
        <gtx-button icon size="large" (click)="setMode('resize')" [disabled]="mode !== 'preview' && mode !== 'resize'">
            <icon>photo_size_select_large</icon>
        </gtx-button>
        <gtx-button icon size="large" (click)="setMode('focalPoint')" [disabled]="mode !== 'preview' && mode !== 'focalPoint'">
            <icon>filter_center_focus</icon>
        </gtx-button>
    </div>
    <div class="sub-controls crop-controls" *ngIf="mode === 'crop'">
        <gtx-select label="(i18n) Aspect Ratio"
                    [(ngModel)]="cropAspectRatio"
                    (change)="setCropAspectRatio($event)">
            <gtx-option value="original">Original</gtx-option>
            <gtx-option value="square">1:1</gtx-option>
            <gtx-option value="free">Free</gtx-option>
        </gtx-select>

        <gtx-button size="small" type="secondary" (click)="resetCrop()">
            <icon left>refresh</icon> Reset
        </gtx-button>

        <gtx-button flat type="secondary" (click)="cancelCrop()">Cancel</gtx-button>
        <gtx-button type="primary" (click)="applyCrop()"><icon left>check</icon> Crop</gtx-button>
    </div>
    <div class="sub-controls resize-controls" *ngIf="mode === 'resize'">
        Resize controls...
    </div>
    <div class="sub-controls focalpoint-controls" *ngIf="mode === 'focalPoint'">
        Focal point controls...
    </div>
</div>
<gtx-overlay-host></gtx-overlay-host>