@import "../../../node_modules/cropperjs/dist/cropper.css";
@import "../../../node_modules/gentics-ui-core/dist/styles/variables";

gentics-image-editor {
  border: 3px dotted pink;
  display: block;
  background-color: white;


  .crop-area {
    overflow: hidden;
    &.hidden {
      height: 0;
      visibility: hidden;
    }
  }

  img.source-image {
    max-width: 100%;
  }

  .image-preview {
    overflow: hidden;
    margin: auto;

    img {
      display: block;
      min-width: 0 !important;
      min-height: 0 !important;
      max-width: none !important;
      max-height: none !important;
      margin: auto;
    }
  }

  .mode-selector {
    padding: 10px;
  }

  .range-container {
    display: flex;
    align-items: center;
    margin: 5px 10px;
    gtx-range {
      flex: 1;
    }

    icon {
      margin: 20px;
      color: $gtx-color-light-gray;
      font-size: 32px;
    }
  }
}

