<div class="target-mask" [style.width.px]="width" [style.height.px]="height">
    <div class="y-line"
         [class.hidden]="!enabled"
         [style.width.px]="width"
         [style.top.px]="yLineTop"
    ></div>
    <div class="x-line"
         [class.hidden]="!enabled"
         [style.height.px]="height"
         [style.left.px]="xLineLeft"
    ></div>
    <div class="focal-point-cross-x emphasize"
         [style.left.px]="focalPointLeft + 5"
         [style.top.px]="focalPointTop - 10">
    </div>
    <div class="focal-point-cross-y emphasize"
         [style.top.px]="focalPointTop + 5"
         [style.left.px]="focalPointLeft - 10">
    </div>
    <div class="focal-point-overlay"
         [class.hidden]="!enabled"
         (mousemove)="overlayMouseMove($event)"
         (mouseleave)="overlayMouseLeave()"
         (click)="overlayClick($event)">
    </div>
</div>