:host {
  display: flex;
}

.target-mask {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 50px;
}

.focal-point-overlay {
  position: absolute;
  cursor: crosshair;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &.hidden {
    display: none;
  }
}

.x-line, .y-line {
  box-sizing: content-box;
  border: 0 solid rgba(0, 0, 0, 0.3);
  position: absolute;
  cursor: crosshair;
  &.hidden {
    display: none;
  }
}

.y-line {
  height: 0;
  left: 0;
  border-bottom-width: thin;
}

.x-line {
  width: 0;
  top: 0;
  border-left-width: thin;
}

.focal-point-cross-y {
  box-sizing: content-box;
  position: absolute;
  width: 30px;
  height: 0;
  border-bottom: thin solid rgba(0, 0, 0, 0.2);
}
.focal-point-cross-x {
  box-sizing: content-box;
  position: absolute;
  width: 0;
  height: 30px;
  border-left: thin solid rgba(0, 0, 0, 0.2);
}
.emphasize {
  border-color: #ffffff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 1);
}
