:host {
}

label {
    color: #9e9e9e;
}

.header {
    background-color: #0096DC;
    color: white;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin-top: 0;
}
.header a:link, .header a:visited {
    color: #84ff8f;
}

.editor-container {
    height: calc(100vh - 150px);
    flex: 1;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
}

.inputs-outputs {
    display: flex;
    padding: 30px 10px;
    max-width: 1200px;
    margin: auto;
}
.input-options {
    border: 1px solid #cccccc;
    flex: 1;
    padding: 10px;
}
.input-options .inputs-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}
.input-options gtx-checkbox {
    margin-top: 0;
}
.output {
    border: 1px solid #cccccc;
    padding: 10px;
    margin-left: 10px;
    overflow: hidden;
}
.input-options h3,
.output h3 {
    font-size: 16px;
    margin: 0;
    margin-top: 15px;
}

.input-options h3:first-child,
.output h3:first-child {
    margin: 0;
}

.output gtx-textarea {
    font-family: "Consolas", monospace;
    min-width: 25vw;
}

.image-preview {
    border: 1px solid #cccccc;
    padding: 10px;
    max-width: 400px;
    margin: auto;
    margin-bottom: 30px;
}
.image-preview h3 {
    font-size: 16px;
    margin: 0;
}