$icons-font-path: '../node_modules/gentics-ui-core/dist/fonts/';
$roboto-font-path: '../node_modules/gentics-ui-core/dist/fonts/';

@import "gentics-ui-core/dist/styles/core.scss";

body {
  background-color: #e5e5df;
  padding: 10px;
}