<div class="controls">
    <ng-content></ng-content>
</div>
<div class="action-buttons">
    <gtx-button icon type="secondary"
                (click)="this.reset.emit()"
                [title]="'reset' | translate"
                class="reset"
                [class.visible]="displayResetButton">
        <icon>refresh</icon>
    </gtx-button>
    <gtx-button icon type="warning" (click)="this.cancel.emit()" [title]="'cancel' | translate"><icon>close</icon></gtx-button>
    <gtx-button icon type="success" (click)="this.apply.emit()" [title]="applyLabel"><icon>check</icon></gtx-button>
</div>
